* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 10px 0;
}
.container {
    width: 1000px;
    height: 900px;
    border: 1px solid black;
}
.header {
    background-color: #262425;
    width: 100%;
    height: 100px;
}
.header img {
    width: 150px;
    height: 100px;
    margin-left: 50px;
}
.header ul {
    position: absolute;
    right: 100px;
    top: 40px;
}
.header ul li {
    display: inline-block;
}
.header ul li a {
    margin-left: 30px;
    text-decoration: none;
    color: #efb921;
    font-weight: bold;
    font-size: 18px;
}
.banner {
    width: 100%;
    height: 300px;
}
.banner img {
    width: 100%;
    height: 100%;
}
.section-left {
    background-color: aqua;
    width: 35%;
    height: 450px;
    float: left;
}
.section-mid {
    background-color: aquamarine;
    width: 35%;
    height: 450px;
    float: left;
}
.section-right {
    background-color: blue;
    width: 30%;
    height: 450px;
    float: left;
}
.section-left ul li {
    list-style: none;
    border: 1px solid black;
}
.section-left ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.section-left ul {
    margin: 10px 20px;
}
.section-left ul li:first-child {
    background-color: red;
    color: white;
    font-weight: bold;
}
.footer {
    background-color: #efb921;
    width: 100%;
    height: 49px;
    clear: both;
}