* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1000px;
    margin: 0 auto;
    border: 2px solid blue;
    padding: 10px 10px;
}
li {
    margin-left: 30px;
}