* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 10px 0;
    background: linear-gradient(to bottom, #89C4F4, #4A90E2);
}
.container {
    width: 1400px;
    height: 700px;
    border: 1px solid black;
}
.menu {
    background-color: aqua;
    width: 100%;
    height: 80px;
    border-bottom: 3px dashed black;
    display: flex;
}
.nav {
    align-content: center;
    margin-left: 0px;
}
.nav ul li {
    display: inline-block;
}
.nav ul li a {
    text-decoration: none;
    color: rgb(241, 231, 231);
    font-weight: bold;
    font-size: 30px;
    margin-left: 50px;
}
.section {
    height: 536px;
}
.content-l {
    background-color: aquamarine;
    width: 50%;
    height: 538px;
    float: left;
}
.content-r {
    background-color: pink;
    width: 50%;
    height: 538px;
    float: right;
}
.footer {
    background-color: blue;
    width: 100%;
    height: 80px;
    clear: both;
    margin-top: 3px;
    border-top: 3px dashed black;
}