* {
    margin: 0;
    padding: 0;
}
#heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-top: 10px;
}
.container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}