* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px 0;
}

.container {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid rgb(148, 140, 140);
    padding-right: 20px;
}

.banner {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid orange;
    display: flex;
    justify-content: end;
}

.menu {
    width: 30%;
    height: 698px;
    float: left;
    background-image: url(../img/back.jpg);
    background-repeat: repeat-y;
    background-size: 280px;
}
.menu ul li {
    list-style: none;
    margin: 10px;
    border-bottom: 1px dashed orangered;
    width: 200px;
}
.menu ul li a {
    text-decoration: none;
    line-height: 24px;
}

.content {
    float: left;
    width: 70%;
    height: 670px;
    border-bottom: 3px solid orange;
}

.footer-text {
    width: 70%;
    height: 20px;
    float: inline-end;
}
.footer-text {
    text-transform: uppercase;
    color: orange;
    padding-top: 5px;
}
.content-1 {
    margin: 24px 0;
}
.content h2 {
    margin-bottom: 20px;
}
.content p {
    line-height: 20px;
}
.content-2-2 ul {
    margin-left: 40px;
}
.content-2-2 {
    border: 5px solid orange;
    background: rgb(255, 242, 217);
    width: 300px;
    height: 250px;
    float: right;
}
.content h2 {
    color: orange;
}
.content-2-1 p {
    margin-top: 10px;
}
.content-2-2 h2 {
    margin-top: 10px;
}