* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px 0;
}

.container {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid rgb(148, 140, 140);
    padding-right: 20px;
}

.banner {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid orange;
    display: flex;
    justify-content: end;
}

.menu {
    width: 30%;
    height: 698px;
    float: left;
    background-image: url(../img/back.jpg);
    background-repeat: repeat-y;
    background-size: 280px;
}
.menu ul li {
    list-style: none;
    margin: 10px;
    border-bottom: 1px dashed orangered;
    width: 200px;
}
.menu ul li a {
    text-decoration: none;
    line-height: 24px;
}

.content {
    float: left;
    width: 70%;
    height: 670px;
    border-bottom: 3px solid orange;
}

.footer-text {
    width: 70%;
    height: 20px;
    float: inline-end;
}
.footer-text {
    text-transform: uppercase;
    color: orange;
    padding-top: 5px;
}
.content-header h2 {
    color: orange;
    margin-top: 24px;
}
.content-main img {
    width: 550px;
    height: 600px;
    display: block;
}
.content-main {
    position: relative;
    width: 550px;
}
.note-box {
    position: absolute;
    border: 1px solid #d2b48c;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    background-color: #fdf5e6;
    padding: 10px;
    width: 150px;   
    font-size: 13px;
    color: brown;
}
.box1 {
    top: -20px;
    right: -40px;
}
.box2 {
    top: 30%;
    left: -40px;
}
.box3 {
    bottom: 100px;
    right: -50px;
}