* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    border-collapse: collapse; 
    border: 4px solid #800080; 
    margin: 0 auto;
}
.bordered {
    border: 1px solid gray;
    padding: 15px 5px;
    width: fit-content;
    margin: 20px auto;
}
th {
    min-width: 130px;
}
th:first-child, td:first-child {
    width: 24px;
    min-width: auto;
    text-align: center;
    font-weight: bolder;
}
th, td {
    border: 1px solid black;  
    padding: 5px;
    color: black;
}
