* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.margin-table {
    width: 24px;

}
table {
    margin: 0 auto;
}
.bordered {
    border: 1px solid gray;
    width: fit-content;
    margin: 20px auto;
    font-family: 'Times New Roman', Times, serif;
}
td:first-child {
    border: 1px solid black;
    text-align: left;
    width: 5px;
}
th {
    min-width: 130px;
}
th:first-child, td:first-child {
    width: 24px;
    min-width: auto;
    text-align: center;
    font-weight: bolder;
}