* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 10px 0;
}
.container {
    width: 1200px;
    height: 900px;
    border: 1px solid black;
}
.banner {
    width: 100%;
    height: 120px;
    background-color: #294e79;
}
.banner img {
    height: 100%;
}
.banner h1 {
    position: absolute;
    top: 20px;
    left: 260px;
    color: white;
    font-size: 50px;
}
.banner p {
    position: absolute;
    top: 70px;
    left: 260px;
    color: white;
    font-size: 20px;
}
.banner ul li {
    display: inline-block;
    background-color: #3d73ae;
    padding: 15px 10px;
    margin: 0 5px;
}
.banner ul li a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    padding-left: 20px;
}
.banner ul {
    position: absolute;
    right: 180px;
    top: 70px;
}
.banner #sea, #go {
    position: absolute;
    right: 300px;
    top: 10px;
}
.banner #go {
    right: 270px;
}
.section-one {
    width: 70%;
    height: 720px;
    float: left;
}
.section-one .left {
    width: 60%;
    height: 100%;
    float: left;
}
.left h2 {
    padding-bottom: 10px;
    border-bottom: 3px dotted black;
}
.left h2 {
    margin-top: 0;
    color: #000;
}

.desc {
    margin-bottom: 10px;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.row label {
    width: 80px;
}

.row input {
    width: 160px;
    margin-right: 10px;
}

.row textarea {
    width: 400px;
}

.btn {
    margin-left: 80px;
}

.btn input {
    margin-right: 8px;
}
.section-one .right {
    width: 40%;
    height: 100%;
    background-color: red;
    float: left;
}
.right h2 {
    padding-bottom: 38px;
    border-bottom: 3px dotted black;
}
.section-two {
    width: 30%;
    height: 720px;
    background-color: aqua;
    float: right;
}
.address {
    background-color: yellow;
    width: 100%;
    height: 58px;
    clear: both;
}
