* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1000px;
    height: 900px;
    border: 1px solid black;
}
.banner {
    width: 100%;
    height: 150px;
    background-color: #294e79;
}
.banner img {
    height: 100%;
}
.banner h1 {
    position: absolute;
    top: 40px;
    left: 180px;
    color: white;
    font-size: 50px;
}
.banner p {
    position: absolute;
    top: 100px;
    left: 180px;
    color: white;
    font-size: 20px;
}
.banner ul li {
    display: inline-block;
}
.banner ul li a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    background-color: black;
}
.banner ul {
    position: absolute;
    right: 70px;
    top: 120px;
}
.banner #sea {
    
}
.section-one {
    width: 70%;
    height: 700px;
    background-color: wheat;
    float: left;
}
.section-one .left {
    width: 58%;
    height: 96%;
    background-color: yellow;
    float: left;
}
.section-one .right {
    width: 38%;
    height: 96%;
    background-color: red;
    float: left;
}
.section-two {
    width: 30%;
    height: 700px;
    background-color: aqua;
    float: right;
}
.address {
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    clear: both;
}
