* {
    box-sizing: border-box;
    margin: 0 auto;
}
#border {
    width: 900px;
    border: 2px solid rgb(109, 216, 228);
    padding: 10px;
}
p {
    margin-bottom: 20px;
}
h1 {
    margin: 15px 0px 15px 0px;
}