* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Times New Roman', Times, serif;
}
header h1 {
    text-align: center;
    color: #b22222;
    text-transform: uppercase;
    font-style: italic;
    text-shadow: 10px 10px 5px #FFC0CB;
    margin: 20px 0;
}
#border {
    width: 1000px;
    margin: 0 auto;
    border: 2px solid black;
    height: 400px;
}
hr {
    margin: 2px 0;
}
nav a {
    text-decoration: none;
    margin-left: 10px;
}
nav a:first-child {
    margin-left: 40px;
}
section h2 {
    font-size: 30px;
    color: #b22222;
    background-color: #F5F5DC;
}
section ul li {
    margin-left: 40px;
}
section h4 a {
    color: red;
}
.starter-section ul li:nth-child(3) {
    text-transform: uppercase;
    color: #D2691E;
    font-weight: bold;
}
.veg-note {
    font-weight: bold;
    color: red;
    text-decoration: underline;
}