* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 20px 0;
}
.container {
    width: 1200px;
    height: 1000px;
    border: 1px solid black;
}
.header {
    background-color: aqua;
    width: 100%;
    height: 80px;
}
.nav {
    background-color: aquamarine;
    width: 100%;
    height: 50px;
}
.section {
    width: 100%;
    height: 800px;
    background-color: antiquewhite;
}
.content-l {
    width: 25%;
    height: 100%;
    background-color: blue;
    float: left;
}
.content-m {
    width: 50%;
    height: 100%;
    background-color: blueviolet;
    float: left;
}
.content-r {
    width: 25%;
    height: 100%;
    background-color: yellowgreen;
    float: right;
}
.footer {
    width: 100%;
    height: 70px;
    background-color: black;
    clear: both;
}