* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tittle1 {
    text-align: center;
    color: blue;
}
.tittle2 {
    text-align: center;
}
.bordered {
    border: 2px solid black;
    width: 300px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: #00FFFF;
    box-shadow: 6px 6px 0px #888888;
}
.container {
    background: #87CEEB;
    border: 2px solid black;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
}
hr {
    margin: 10px 10px;
    border: 1px solid black;
}
form {
    margin: 10px 10px;
}
textarea {
    width: 400px;
    padding: 10px;
}
.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.comment-format {
    display: flex;
    align-items: self-start;
    margin-top: 10px;
}
.comment-format label {
    width: 90px;
    margin-top: 10px;
}
.comment-format textarea {
    width: 350px;
    height: 90px;
    resize: none;
}