* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 30px;
}
.container {
    width: 1000px;
    height: 880px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 10px;
}
.banner {
    background-image: url(../img/background.png);
    height: 150px;
    display: flex;
}
.banner img {
    height: 150px;
}
.header-text {
    align-content: center;
    color: white;
}
.menu-bar {
    background-color: rgb(187, 182, 182);
    height: 40px;
    width: 100%;
}
.content {
    display: flex;
}
.content-1 {
    width: 70%;
    height: 600px;
    border-right: 1px solid #eee;
}
.content-2 {
    width: 30%;
    height: 600px;
    padding: 20px;
}
.address {
    background-color: gray;
    width: 100%;
    height: 26px;
}
nav ul li {
    list-style: none;
    display: inline-flex;
}
nav ul li a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    padding-top: 10px;
}
nav ul li:first-child a {
    color: black;
}
.content-1 img {
    width: 300px;
    padding: 0 5px;
    padding-top: 5px;
}
.border-img {
    border: 1px solid #eee;
    height: 250px;
}
.border-img span {
    padding: 0 5px;
}
.content {
    margin: 20px;
}
.content-margin {
    margin: 20px;
    line-height: 25px;
}
.content-margin h4 {
    padding-bottom: 10px;
}
.content h4 {
    color: palevioletred;
    font-family: Arial, Helvetica, sans-serif;
}
#main-1 {
    display: flex;
    margin-bottom: 80px;
}
#main-2 {
    display: flex;
}
.link-1 {
    list-style: none;
    line-height: 60px;
}
.link-1 li a {
    text-decoration: none;
    color: palevioletred;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}
.link-1 ul {
    list-style: none;
}
.link-1 h2 {
    margin-top: -15px;
}
.link-2 ul {
    list-style: none;
    line-height: 20px;
    margin-top: 30px;
}
.link-2 h2 {
    color: palevioletred;
    margin-top: 30px;
}
footer address {
    color: white;
    padding-top: 8px;
    margin-left: 10px;
}