* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 10px 0;
}
.container {
    width: 1000px;
    height: 900px;
    border: 1px solid black;
}
.header {
    background-color: #262425;
    width: 100%;
    height: 100px;
}
.header img {
    width: 150px;
    height: 100px;
    margin-left: 50px;
}
.header ul {
    position: absolute;
    right: 300px;
    top: 50px;

}
.header ul li {
    display: inline-block;
}
.header ul li a {
    margin-left: 30px;
    text-decoration: none;
    color: #efb921;
    font-weight: bold;
    font-size: 18px;
}
.banner {
    width: 100%;
    height: 300px;
}
.banner img {
    width: 100%;
    height: 100%;
}
.section {
    width: 100%;
    height: 400px;
    padding: 10px;
}
.section-left {
    width: 35%;
    height: 400px;
    float: left;
    justify-items: center;
    padding-right: 10px;
}
.section-left ul li {
    list-style: none;
    border: 1px solid black;
}
.section-left ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 5px;
    display: block;
    padding: 15px;
}
.section-left ul li:first-child {
    background-color: #da3642;
    color: white;
    font-weight: bold;
}
.section-left ul {
    width: 80%;
    margin: 0 20px;
}
.section-mid {
    width: 35%;
    height: 400px;
    float: left;
    padding-right: 40px;
}
.section-mid form {
    height: 100%;
}
.section-mid form input, label, select {
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
}
.section-mid form textarea {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}
.section-mid form button {
    background-color: green;
    color: white;
    text-align: center;
    width: 30%;
    height: 30px;
}
.section-right {
    width: 30%;
    height: 400px;
    float: left;
}
.section-right img {
    width: 90%;
    height: 80%;
}
.section-right .para p {
    text-align: center;
    font-weight: bold;
    color: #262425;
}
.section-right .para {
    text-align: center;
    font-weight: bold;
    color: red;
    margin-bottom: 45px;
}
.section-right .add button {
    height: 30px;
    width: 150px;
    background-color: white;
    border-color: red;
}
.section-right .add {
    text-align: center;
}
.footer {
    background-color: black;
    width: 100%;
    height: 70px;
    clear: both;
    margin-top: 29px;
    color: white;
}
.footer .ft-l {
    width: 50%;
    height: 100%;
    font-size: 14px;
    float: left;
    text-align: center;
}
.footer .ft-r {
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
}