* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 10px 0;
}
.container {
    width: 1000px;
    height: 900px;
    border: 1px solid black;
}
.header {
    background-color: #262425;
    width: 100%;
    height: 100px;
}
.header img {
    width: 150px;
    height: 100px;
    margin-left: 50px;
}
.header ul {
    position: absolute;
    right: 100px;
    top: 40px;
}
.header ul li {
    display: inline-block;
}
.header ul li a {
    margin-left: 30px;
    text-decoration: none;
    color: #efb921;
    font-weight: bold;
    font-size: 18px;
}
.banner {
    width: 100%;
    height: 300px;
}
.banner img {
    width: 100%;
    height: 100%;
}
.section {
    width: 100%;
    height: 400px;
    padding: 10px;
}
.section-left {
    width: 35%;
    height: 400px;
    float: left;
    justify-items: center;
    padding-right: 10px;
}
.section-left ul li {
    list-style: none;
    border: 1px solid black;
}
.section-left ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 5px;
    display: block;
    padding: 15px;
}
.section-left ul li:first-child {
    background-color: #da3642;
    color: white;
    font-weight: bold;
}
.section-left ul {
    width: 80%;
    margin: 0 20px;
}
.section-mid {
    width: 35%;
    height: 400px;
    float: left;
}
.section-right {
    width: 30%;
    height: 400px;
    float: left;
}

.footer {
    background-color: #efb921;
    width: 100%;
    height: 70px;
    clear: both;
    margin-top: 29px;
}